server/vcproject/device.dtd

<!ELEMENT device (devicename,ipaddress,module,partners, attributes?)>

<!ELEMENT devicename (#PCDATA)>
<!ELEMENT ipaddress (#PCDATA)>
<!ELEMENT module (#PCDATA)>

<!ELEMENT partners (partner*)>
<!ELEMENT partner (devicename,ipaddress,module)>
<!ATTLIST partner partnerName ID #REQUIRED>

<!ELEMENT attributes (attribute*)>
<!ELEMENT attribute (#PCDATA)>
<!ATTLIST attribute 
  key   ID    #REQUIRED
  value CDATA #REQUIRED
  >
