server/src/xml/dtd/experiment.dtd

<!ELEMENT experiment (title,date,desc?,series?,timing,devices)>

<!ELEMENT title (#PCDATA)>

<!ELEMENT date (#PCDATA)>

<!ELEMENT desc (#PCDATA)>

<!ELEMENT series (file)>

<!ELEMENT file (#PCDATA)>

<!ELEMENT timing (file+,var*)>

<!ELEMENT var (name,val)>

<!ELEMENT name (#PCDATA)>

<!ELEMENT val (#PCDATA)>

<!ELEMENT devices (device*)>

<!ELEMENT device (attributes, partners, measurements)>
<!ATTLIST device 
  devicename   CDATA #REQUIRED
  ipaddress    CDATA #REQUIRED
  module       CDATA #REQUIRED
  >

<!ELEMENT measurements (measurement*)>

<!ELEMENT measurement (number?, image?, curve?, range?)>
<!ATTLIST measurement 
  time        CDATA #REQUIRED
  channel     CDATA #REQUIRED
  description CDATA #IMPLIED
  >


<!ELEMENT partners (partner*)>
<!ELEMENT partner (#PCDATA)>
<!ATTLIST partner 
  partnerName  ID    #REQUIRED
  devicename   CDATA #REQUIRED
  ipaddress    CDATA #REQUIRED
  module       CDATA #REQUIRED
  >


<!ELEMENT attributes (attribute*)>
<!ELEMENT attribute (#PCDATA)>
<!ATTLIST attribute 
  key   ID    #REQUIRED
  value CDATA #REQUIRED
  >


<!ELEMENT number (#PCDATA)>

<!ELEMENT image (file,thumb?,desc?)>

<!ELEMENT thumb (#PCDATA)>

<!ELEMENT curve (file,desc?)>

<!ELEMENT range (#PCDATA)>
<!ATTLIST range 
  min       CDATA #IMPLIED
  max       CDATA #IMPLIED
  >


