server/src/xml/dtd/experiment.dtd

<!ELEMENT experiment (title,date,desc?,series?,timing,devices)>

<!ELEMENT title (#PCDATA)>

<!ELEMENT date (#PCDATA)>

<!ELEMENT desc (#PCDATA)>

<!ELEMENT series (file)>

<!ELEMENT file (#PCDATA)>

<!ELEMENT timing (file+,var*)>

<!ELEMENT var (name,val)>
<!ATTLIST var id ID #REQUIRED>

<!ELEMENT name (#PCDATA)>

<!ELEMENT val (#PCDATA)>

<!ELEMENT devices (device*)>

<!ELEMENT device (attributes, partners, measurements)>
<!ATTLIST device 
  devicename   CDATA #REQUIRED
  ipaddress    CDATA #REQUIRED
  module       CDATA #REQUIRED
  >

<!ELEMENT measurements (measurement*)>

<!ELEMENT measurement (number?, image?, curve?)>


<!ELEMENT partners (partner*)>
<!ELEMENT partner (#PCDATA)>
<!ATTLIST partner 
  partnerName  ID    #REQUIRED
  devicename   CDATA #REQUIRED
  ipaddress    CDATA #REQUIRED
  module       CDATA #REQUIRED
  >


<!ELEMENT attributes (attribute*)>
<!ELEMENT attribute (#PCDATA)>
<!ATTLIST attribute 
  key   ID    #REQUIRED
  value CDATA #REQUIRED
  >


<!ELEMENT image (file,thumb?,desc?)>

<!ELEMENT thumb (#PCDATA)>

<!ELEMENT curve (file,desc?)>

<!ELEMENT number (#PCDATA)>



<!ELEMENT numbers (number*)>

<!ELEMENT number (file,ranges?)>

<!ELEMENT ranges (#PCDATA)>

<!ELEMENT curves (curve*)>



<!ELEMENT images (image*)>


