server/src/xml/dtd/series.dtd

<!ELEMENT series (title,date,desc?,script?,experiments)>

<!ELEMENT title (#PCDATA)>

<!ELEMENT date (#PCDATA)>

<!ELEMENT desc (#PCDATA)>

<!ELEMENT script (#PCDATA)>

<!ELEMENT file (#PCDATA)>

<!ELEMENT var (#PCDATA)>
<!ATTLIST var 
  name   CDATA #REQUIRED
  value  CDATA #REQUIRED
  >

<!ELEMENT experiments (experiment+)>

<!ELEMENT experiment (file,var*)>
